{%-assign external_posts = site.data.external_posts.entries-%}

<ul>
  {%-if external_posts and external_posts.size > 0-%}
    {%-for external_post in external_posts-%}
      <li>
        {%-if external_post.date-%}
          <span>{{- external_post.date | date: site.theme_config.date_format -}}</span>
          {{ " " }}
        {%-endif-%}
        <a href="{{ external_post.url }}" target="_blank" rel="noopener noreferrer">
          {%-if site.theme_config.lowercase_titles == true-%}
            {{- external_post.title | downcase -}}
          {%-else-%}
            {{- external_post.title -}}
          {%-endif-%}
        </a>
        {%-if external_post.source-%}
          <span> ({{- external_post.source -}})</span>
        {%-endif-%}
      </li>
    {%-endfor-%}
  {%-else-%}
    <li>coming soon</li>
  {%-endif-%}
</ul>
